/* Optional css style outside bootstrap */

/* CSS Navbar and Introduction container/section */
html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  background-color: #f7ecde;
}
header {
  margin-top: -60px;
}
.console-chef-logo {
  width: 130px;
  margin: -18px;
}

#nav-bar-text {
  gap: 54px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 30px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
  color: azure;
}
#navbar-search-bar {
  width: fit-content;
}
.btn-outline-success {
  border: none;
  background-color: #54bab9;
  border-radius: 3;
}

/* Tacos page style*/
.taco-parent-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}
.intro-text {
  padding: 10px;
}
.taco-container-leftitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  margin-top: 60px;
}
/*.list-group {
  background-color: transparent;
  border-color: transparent;
  padding: 25px;
}*/
#birria-img {
  width: 400px;
  border: 2px solid #dee2e6;
  border-radius: 30px;
}
.taco-container-rightitem {
  display: flex;
  gap: 20px;
}
.process-thumbnail-img {
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
#process-birria-img {
  width: 200px;
  border: 5px solid #f8f9fa;
  border-radius: 30px;
}

/* END css Navbar and Introduction container/section */

/* CSS Main container/section */

.recipes-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.top-row-recipes,
.bottom-row-recipes {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

/* END css Main container/section */

/* CSS Emoji container/section */
#gigi {
  background-color: #9ed2c6;
}

/* END css Emoji container/section */

/*  CSS media section */

.social-icons img {
  width: 80px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}
/* END css media section */

/*  CSS footer container/section */
/*footer section*/
#footer {
  background-color: #9ed2c6;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 90px;
  margin-bottom: 20px;
}
/*if i add someicons
.footer-box {
    margin-right: 8px;
    font-size: 25px;
    height: 50px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}*/
.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 3;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  background-color: #54bab9;
  border-radius: 3;
  margin-top: 30px;
}
hr {
  background-color: #fff;
}
.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
/*  END CSS footer container/section */

/*section: recipe 4*/
body::before {
  display: block;
  content: "";
  height: 60px;
}

/*END of section: recipe 4*/
